@require '../css/base';

.{$-cui-class-prefix}-tag
    display: inline-block;
    width: 0;
    padding: 0;
    margin: 0;
    background: #f3f3f3;
    font-size: 14px;
    opacity: 1;
    cursor: pointer;
    white-space: nowrap;

    &.show
        width: auto;
        padding: 8px 12px;
        margin: 0 8px 8px 0;
        transform: scale(1);

    &-close
        margin-left: 5px;
        opacity: .5;
        font-size: 14px;

        &:hover
            opacity: 1;