@require '../css/base'

.{$-cui-class-prefix}-tabs
    box-sizing: border-box
    position: relative
    overflow: hidden
    clearfix()
    color: #333

    &-bar
        border-bottom: 1px solid #ddd;
        outline: none;

    &-ink-bar
        z-index: 1
        position: absolute
        left: 0
        bottom: 1px
        box-sizing: border-box
        height: 2px
        background-color: $-cui-main-color
        transform-origin: 0 0

    &-ink-bar-animated
        transition: left .3s ease-in-out, width .3s ease-in-out

    &-nav-container
        overflow: hidden
        font-size: 16px
        line-height: 1.5
        box-sizing: border-box
        position: relative
        white-space: nowrap
        margin-bottom: -1px
        clearfix()

        &-scrolling
          padding-left: 32px
          padding-right: 32px

    &-nav-wrap
        overflow: hidden
        margin-bottom: -1px


    &-nav-scroll
      overflow: hidden
      white-space: nowrap


    &-nav
        box-sizing: border-box
        padding-left: 0
        transition: left 0.5s ease-in-out
        position: relative
        margin: 0
        list-style: none
        float: left

        &:before,
        &:after
            display: table
            content: " "

        &:after
            clear: both

        .{$-cui-class-prefix}-tabs-tab-disabled
            pointer-events: none
            cursor: default
            color: #ccc;

        .{$-cui-class-prefix}-tabs-tab-txt
            display: inline-block
            cursor: pointer


        .{$-cui-class-prefix}-tabs-tab
            display: inline-block
            height: 100%
            box-sizing: border-box
            position: relative
            padding: 12px 20px
            // transition: color .1s
            cursor: pointer
            text-decoration: none
            color: #333

            &:active
                color: #000


        .{$-cui-class-prefix}-tabs-tab-active
            color: $-cui-main-color


