@require '../css/base'

.{$-cui-class-prefix}-rate
    display: inline-block

    .{$-cui-class-prefix}-icon
        color: #d2d2d2
        margin-right: 5px
        font-size: 18px

    .rate-active .{$-cui-class-prefix}-icon
        color: #ff8502
