.icon-wrap
    size: 40px
    display: inline-block
    flex-wrap: wrap
    line-height: 40px
    text-align: center
    background-color: #f4f4f4
    margin-right: 5px
    margin-bottom: 5px

    i
        font-size: 18px