/**
 * @file 变量
 * @author cgzero(cgzero@cgzero.com)
 * @date 2017-05-25
 */

// 主色调
$-cui-main-color-lighter = lighten(#38f, 20%)
$-cui-main-color-light = lighten(#38f, 10%)
$-cui-main-color = #38f
$-cui-main-color-dark = darken(#38f, 10%)
$-cui-main-color-darker = darken(#38f, 20%)

// 辅色调
$-cui-sub-color-lighter = darken(#ff8503, 20%)
$-cui-sub-color-light = darken(#ff8503, 10%)
$-cui-sub-color = #ff8503
$-cui-sub-color-dark = darken(#ff8503, 10%)
$-cui-sub-color-darker = darken(#ff8503, 20%)

// 前缀
$-cui-class-prefix = cui