@require '../css/base'

.{$-cui-class-prefix}-pager
    clearfix()
    list-style: none
    font-size: 16px

    &-item
        float: left
        padding: 9px 13px
        height: 20px
        line-height: 20px
        margin: 3px
        color: #333
        cursor: pointer
        transition: all 0.15s

        &:hover
            background-color: #eee

        &.state-current
            background-color: $-cui-main-color
            color: #fff

            &.state-current
                cursor: default