@require './button/Button'
@require './pager/Pager';
@require './tabs/Tabs';
@require './icon/Icon';
@require './rate/Rate';
@require './input/Input';
@require './dialog/Dialog';
@require './tag/Tag';