@require '../css/base'

.{$-cui-class-prefix}-input
    min-width: 300px
    border: 0
    outline: 0
    padding: 10px
    box-sizing: border-box
    border: 1px solid #eaeaea
    background-color: transparent
    -webkit-appearance: none
    font-size: 14px
    border-radius: 0

    &[disabled]
        background-color: #fafafa
        cursor: not-allowed

    &:focus
        border-color: $-cui-main-color

.{$-cui-class-prefix}-input::-webkit-input-placeholder
    color: #999